/* *{
    padding: 0;
    margin:0;
    box-sizing: border-box;
} */

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem; */
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
    margin: 12px;
    width: 23%;
    

  }
  body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    /* font-family: 'Poppins',sans-serif; */
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .row{
      display: flex;
      flex-wrap: wrap; 
  }
  .cardimage{
      
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto
    
  }
  .recipe_btn{
    text-decoration: none;
    color: #fff;
    background: #029A54;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    margin: 1rem auto;
    display: block;
    width: 100px;
    margin-left: 200px;
    text-align: center;
    border-radius: 2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition:all 0.4s linear;
    -o-transition: all 0.4s linear;
    overflow: hidden;
  }
  .meal_details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: (-50%,-50%);
    -moz-transform: (-50%,-50%);
    -ms-transform:(-50%,-50%);
    -o-transform: (-50%,-50%);
    color: #fff;
    background:#029A54;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 70%;
    height: 70%;
    overflow-y: scroll;
    display: none ;  
    padding: 2rem 0;
  }
  .meal_details::-webkit-scrollbar{
    width: 10px;
}

.meal_details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

}
.show_recipe{
    display: block;
}

.meals_details_content p:not(.recipe_category){
    padding: 1rem 0;

}
.meals_details_content{
    margin: 2rem;
}

.meal_details{
    margin: 2rem;
}
#recipe_close_btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe_title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
    text-align: center;

}
.recipe_category{
    background: #fff;
    text-align: center;
    font-weight: 600;
    color: #029A54;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

}
.recipe_instruct{
    padding: 1rem 0;
}
.recipe_meal_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe_link a{
    color: #fff;
    font-size: 1.2rem;
    font-size: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition:all 0.4s linear;
    -o-transition: all 0.4s linear;


}
.recipe_link a:hover{
    opacity: 0.8;
}