<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Recipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/Project.css" type="text/css">
    

</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <div class="nav-logo">
                <img src="https://pbs.twimg.com/profile_images/2184772941/fblogo.png">
            </div>
            <div class="nav-links">
                <ul>
                    <a href="#"><li>ABOUT US</li></a>
                    <a href="/ingredient"><li>INGREDIENTS</li></a>
                </ul>
            </div>
            <!-- <i class="fa fa-bars"></i> -->
        </div>
        <div class="banner-title">
            <blockquote><h1>  Real food <span>doesn't have </span> ingredients,real food is ingredients </h1>  <br>
                <cite>-Ethel M.Dell</cite>
            </blockquote> 
        </div>
        <div class="vertical-bar">
            <div class="search-icons">
                <i class="fa fa-th-list"></i>
                <i class="fa fa-search"></i>

            </div>
            <div class="social-icons">
                <i class="fa fa-facebook-square" style="color: black;" title="sdfghjk"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-pinterest"></i>

            </div>
        </div>
        <div class="notifications">
            <div class="contents"></div>
            <div class="notifications-img"></div>
        </div>
    </div>

   
    
    

    <script src="https://kit.fontawesome.com/01af81bbeb.js" crossorigin="anonymous"></script>
</body>
</html>